.header {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 7;
  font-size: 20px;
}

#logo {
  border-radius: 15px 15px 0px 0px;

  margin: 10px 0px 0px 10px;
  color: rgb(255, 255, 255);
  transition: 0.8s;
}
#logo:hover {
  color: white;
  cursor: pointer;
}

p {
  color: rgb(255, 255, 255);
  font-size: 85%;
  box-sizing: border-box;
  margin: 10px 0px 20px 8px;
}

.slider {
  width: 300px;
  margin-top: 15px;
  margin: 10px 0px 0px 10px;
}
